{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>{{ post.post_title }}</h1>
        {% if post.post_author %}
        <h7>Author: <b>{{post.post_author}}</b></h7>
        {% endif %}
        <div class="well">
            <p class="mt-3 pt-2">{{ post.post_text }}</p>
        </div>
        <hr>
        {% for comment in post.comment_sorted_set.all %}
        <p>
            <b>{{comment.author}}</b> : {{comment.body}}
            {% if comment.reply_to %}
            | <b>reply to {{comment.reply_to.author}} </b>
            {% endif %}
        </p>
        {% endfor %}
        {% if perms.blog.can_edit_content %}
        <a class="btn btn-primary p-2" href="{{ comment_add_url }}">Add comment</a>
        {% endif %}
</div>



{% endblock %}