{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="card w-50">
<!--        <div class="card" style="width: 24rem;">-->
            <div class="card-header">
                Posts
            </div>
            {% if posts_list %}
            <ul class="list-group list-group-flush">
                {% for post in posts_list%}
                {% if post.is_hidden == False %}
                <div class="row">
                    <div class="col-12 mt-1">
                        <a href="{% url 'detail' post.id %}" class="list-group-item">
                            {{ post.post_title }}</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            <p>No posts yet :(</p>
            {% endif %}
            {% if perms.blog.can_edit_content %}
            <a class="btn btn-primary p-2" href=" {% url 'addpost' %}">Add post</a>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <p class="mt-2">You have visited forum {{ num_visits }} times</p>
    </div>
</div>
{% endblock %}