{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Create post</h2>
    <form action="{% url 'addpost' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group mt-3 pt-2">
            {% if not field.is_hidden %}
            {{ field.label_tag }} <br />
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class = "btn btn-primary">Create</button>
    </form>
</div>
{% endblock %}